/* CSS MENU */

.navbar {
    background-color: rgb(51, 58, 64) !important;
    width: 100% !important;
    top: 0 !important;
    position: sticky !important;
    z-index: 1 !important;
}


/* MEDIA QUERIES MENU */

@media only screen and (min-width: 1270px) and (max-width: 1590px) {
    .navbar .container-fluid .collapse .coll li span {
        font-size: 20px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 1270px) and (max-width: 1590px) {
    .navbar .container-fluid .collapse .col a {
        font-size: 18px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1270px) {
    .navbar .container-fluid img {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1270px) {
    .navbar .container-fluid .collapse .coll li span {
        font-size: 18px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1270px) {
    .navbar .container-fluid .collapse .col {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1270px) {
    .navbar .container-fluid .collapse .col a {
        font-size: 16px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navbar .container-fluid img {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navbar .coll {
        visibility: hidden !important;
    }
}

@media only screen and (max-width: 992px) {
    .navbar a {
        text-align: center !important;
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        margin: 0 !important;
        padding: 10px !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar .container-fluid img {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar .coll {
        visibility: hidden !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar .col a {
        text-align: center !important;
        font-size: 18px !important;
    }
}


/* CAROUSEL */

/* para cambiar la forma de los indicadores */
#carouselExampleAutoplaying .carousel-indicators button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: rgb(219, 197, 197);
}

.carousel-item img {
    filter: brightness(50%);
}


/* MEDIA QUERIES CAROUSEL */

/* para que la imagen ocupe todo el alto de la pantalla grande */
@media only screen and (min-width: 1400px) {
    #carouselExampleAutoplaying img {
        height: 87vh;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .carousel .carousel-inner .carousel-item .carousel-caption p {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .carousel .carousel-inner .carousel-item .carousel-caption a {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .carousel .carousel-inner .carousel-item .carousel-caption {
        top: 210px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .carousel .carousel-inner .carousel-item .carousel-caption p {
        font-size: 18px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .carousel .carousel-inner .carousel-item .carousel-caption a {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .carousel .carousel-inner .carousel-item .carousel-caption {
        top: 170px !important;
    }
}

/* para ocultar el texto en pantallas mayores a 992 */
@media only screen and (min-width: 992px) {
    #textos {
        visibility: hidden;
    }
}

@media only screen and (max-width: 992px) {
    #textos {
        position: sticky !important;
    }
}

@media only screen and (max-width: 992px) {
    .texto2 {
        font-size: 16px !important;
    }
}


/* CSS CARD */

.texto {
    font-size: 1rem;
    /* interlinea */
    line-height: 1.6rem;
}

.card {
    width: 18rem;
}


/* FOOTER */

.contenedor {
    width: 100%;
    display: inline-block;
    background-color: rgb(30, 71, 93);
    padding: 40px 40px;
    font-size: 20px;
    text-align: center;
}

a {
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}


/* MEDIA QUERIES FOOTER */

@media only screen and (min-width: 880px) and (max-width: 1150px) {
    .contenedor {
        padding: 40px 10px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 755x) and (max-width: 880px) {
    .contenedor {
        padding: 10px 3px;
    }
}

@media only screen and (min-width: 755px) and (max-width: 880px) {
    .contenedor a {
        padding: 0px 3px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 592px) and (max-width: 755px) {
    .contenedor {
        padding: 30px 1px;
    }
}

@media only screen and (min-width: 592px) and (max-width: 755px) {
    .contenedor a {
        padding: 0px 2px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 592px) {
    .contenedor a {
        display: flex;
        padding: 0;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 592px) {
    .contenedor {
        padding: 10px;
    }
}